@font-face {
    font-family: digitalFont;
    src: url(/static/DS-DIGIB.ttf);
}

body {
    background-color: black;
    margin-top: 0;
}

.principal{
    display: flex;
    justify-content: center;
}


#rpm{
    width: 100%;
    height: 25vh;
}

#speed{
    font-family: digitalFont;
    font-size: 8vh;   
    color: yellow;  
}
#lap{
    font-family: digitalFont;
    font-size: 8vh;   
    color: white;  
}
#position{
    font-family: digitalFont;
    font-size: 8vh;   
    color: white;  
}
#laptime{
    font-family: digitalFont;
    font-size: 8vh;   
    color: white;  
}
#drs{
    font-family: digitalFont;
    font-size: 6vh;   
    color: purple;  
}

.first-line{
    margin-top: 1vh;
}

#gear{
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    font-size: 50vh;   
}

/* leds painel */

.led-off{
    margin: 1vh;
    width: 5vw;
    height: 10vh;
    background-color: gray;
    border-radius: 50%;
    /* box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px; */
}


/* fia-lights */
.left, .right {
    background: rgb(116, 116, 116);
    position: fixed; 
    margin: 1vh;
    
}
.left, .right {
    bottom: 0;
    width: 3vw;
    height: 6vh;
    border-radius: 50%;
  
}
.left { left: 1vw; }
.right { right: 1vw; }